@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center" style="background-image:url(fotos/foto1.jpg); background-size: 500px 500px; background-repeat:no-repeat;background-position: center;background-position-y: 100px; height:600px ">
    <h1 class="display-4">Bienvenidos a </h1>
    <h1 class="display-4">Noelia Estilismo Independiente</h1>
    <p><a href="http://noeliaestilismoindependiente.ed.urltemporal.com/">Noelia Independiente Web Page</a>.</p>
    <p id="presentacion">Bienvenidos al Sistema de Turnos y Agenda de Noelia Estilismo.</p>
</div>
